<h1>Register a New Team</h1>
<br>
<form action="/team" method="POST">
    <label for="team_name">Team Name</label>
    <input type="text" name="team_name">
    <input type="submit" value="Create New Team" id="submit">

</form>
<br>

<a href='/admin'>Back to admin console</a>