<h3>Welcome to the TeamManager App</h3>
<br>
<p>If you are an administrator, you can build your team and create your team of users that can access team detail.</p>
<p>If you are a user, login to view details of your team.  You will need to contact the administrator to set up a user account if you do not have one.</p>

<p>Don't have an administrator account? <a href="/user/new-admin">Create one here</a>.</p>

<p>Have an existing account? <a href="/login">Login here</a></p>